
body, html {
  height: 100%;
}

#map-row {
  height: 700px;
  min-height: 700px;
  max-height: 700px;
  margin: 0;
  padding: 0;
  border: 0;
}

#map-container {
  width: 80%;
  height: 75%;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  margin-top: -20px;
  margin: 0;
  padding: 0;
}

#map-container iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

footer {
  position: fixed;
  bottom: 0;
}

