
body, html {
  height: 100%;
}

#map-row {
  height: 700px;
  min-height: 700px;
  max-height: 700px;
  margin: 0;
  padding: 0;
  border: 0;
}

#map-container {
<<<<<<< HEAD
  width: 80%;
  height: 75%;
  margin-top: 20px;
  border: 1px solid white;
=======
  width: 100%;
  height: 100%;
  margin-top: -20px;
  margin: 0;
  padding: 0;
>>>>>>> 6a5d77849f31c79d9dcf570d89fb9c61cd8a3f37
}

#map-container iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

footer {
  position: relative;
  margin-bottom: 0;
}

