
#map-container {
  //width: 500px;
  //height: 75%;
  //margin-top: 20px;
  border: 1px solid white;
}

#map-container iframe {
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
}

