html, body {
  height: 100%;
  margin-bottom: 100px;
}

body {
  background-color: #585959;
  //background-color: #969092;
  color: #fff;
  overflow-x: hidden;
  margin-bottom: 100px;
  background-image: url("../images/stamp_trans.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 70% 100%;
}


.navbar-default, .collapse, .navbar-collapse, .navbar-header, .navbar-container-custom, .navbar-brand {
  min-height: 90px;
  //max-height: 90px;
}

.li-logo {
  width: 55px;
  height: 27.5px;
}


#full-container {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.navbar-collapse {
  //background:#cccccc;
} 

/*
nav {
  width: 100%;
  height: 80px;
  margin: 0;
  //z-index: 999;
}

.nav li {
  //height: 100%;
  //min-height: 100%;
  //z-index: 999;
}

.nav li a {
  //margin-top: 30px;
  //z-index: 999;
}

.form-group input {
  margin-top: 40px;
  color: #585959;
  //z-index: 999;
}

.navbar-nav {
  height: 100px;
  min-height: 100px;
 // z-index: 999;
}
*/

.nav-logo-img {
  width: 140px;
  height: 60px;
  //z-index: 999
}

#logo-wrapper {
  //border: 1px solid black;
  //margin-left: 30%;
  margin-bottom: 10px;
}

#front-page-carousel {
  margin-top: 0;
  z-index: 888;
}

.carousel-img {
  width: 80%;
  height: 800px;
  min-width: 80%;
  max-height: 400px;
  margin: auto;
  z-index: 888;
}

.carousel-indicators {
  display: none;
}

#carousel-container {
  margin-top: 20px;
}

#text-content {
  margin-top: 10px;
  padding: 40px;
  border-radius: 10px;
  text-align: justify;  
  //background-color: #808080;
}

.content-wrapper {
  padding: 10px 10px 260px 10px;
  box-shadow: 0 0 4px 2px #fff;
  -webkit-box-shadow: 0 0 4px 2px #fff;
  -moz-box-shadow: 0 0 4px 2px #fff;
}

#content-text {
  margin-top: 10px;
}

#logo-wrapper {
  margin-top: 20px;
}

#facebook-wrapper {
  height: 625px;
  //background-color: #373737;
  margin-top: 40px;
}

footer{
  position: relative;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
  height: 110px;
  background-color: #373737;
}

#footer-wrapper {
  margin-left: 0;
  margin-bottom: 0;
}

#sour-dog {
  color: #32cd32;
}

#dot-slash {
  color: #3aa8c1;
}

#tag {
  padding-top: 5px;
  margin-bottom: 0;
}

#g75-info {
  margin-top: 10px;
}


/* Large desktop */
@media (min-width: 1200px) {
  .navbar-nav li a {
  padding-top: 55px;
  padding-bottom: -5px;
}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-nav li a {
  padding-top: 55px;
  padding-bottom: -5px;
}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }
