
body {
  background-image: url("../images/stamp_trans.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 80% 100%;
}

#menu-wrapper {
  margin-top: 20px;
}

#menu-footer {
  position: relative;
  bottom: 0;
}

.menu-group {
  //margin-left: 5px;
  //border: 1px solid white;
}

.menu-title {
  position: relative;
  padding: 5px 5px 15px 25px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgba(24, 41, 67, 0.4);
}

.menu-title:hover {
  cursor: pointer;
}

.menu-title h2 {
  //margin-top: 45px;
}

.menu-title-icon {
  float: right;
  margin-right: 35px;
  margin-top: 20px;
}

.rotated {
  transition: 0.5s linear;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.non-rotated {
  transition: 0.5s linear;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.collapsing {
  transition: height 1s ease;
}

.menu-item h4 {
  width: 100%;
  background-color: #1a1a1a;
  margin-left: -15px;
  padding: 5px 5px 5px 20px;
}

.menu-item {
  display: inline-block;
  position: relative;
  padding-right: 0;
  min-height: 120px;
  max-height: 120px;
  margin: 0 0 20px 20px;
  background-color: #182943;
  color: #f9f9f9;
  box-shadow: 2px 2px 2px 1px #000;
}

.salads-extras-container {
  background-color: #182943;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 1px #000;
}

.salad-item-extra {
  margin-left: 30px;
  text-align: right;
}

.price {
  float: right;
  height: 100%;
  min-height: 100%;
  font-size: 1.6em;
  margin-top: 0;
  margin-right: -5px;
  padding: 20px;
  background-color: #6a2933;
  color: #f9f9f9;
  box-shadow: 0 2px 2px 1px #000;
  //border: 1px solid black;
}

.wings-extra {
  padding-top: 0;
  max-height: 220px;
}

.wings-extra h3 {
  margin-top: -5px;
  margin-left: 10px;
}

#dinner-sides {
  max-height: 320px;
}

#cans-1 {
  max-height: 310px;
}

#cans-1 .price {
  margin-top: 140px;
}

/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  .menu-item {
    margin-left: 0 0 15px 0;
  }

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

  .menu-item {
    margin-left: 0 0 15px 0;
  }

}