html, body {
  height: 100%;
}

body {
  background-color: #585959;
  color: #fff;
  overflow-x: hidden;
}

.navbar-default, .navbar-collapse {
  z-index: 999;
}

#full-container {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.carousel-img {
  //width: 100%;
  width: 900px;
  height: 100px;
} 

nav {
  width: 100%;
  height: 100px;
  margin: 0;
}

.nav li {
  height: 100%;
  min-height: 100%;
}

.nav li a {
  margin-top: 50px;
}

.form-group input {
  margin-top: 60px;
}

.navbar-nav {
  height: 100px;
  min-height: 100px;
}

.nav-logo-img {
  width: 140px;
  height: 60px;
}

#logo-wrapper {
  //border: 1px solid black;
  //margin-left: 30%;
}

#carousel-container, #carousel-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}

#front-page-carousel {
  margin-top: 0;
  z-index: 888;
}

.carousel-inner img {
  min-width: 100%;
  height: 725px;
  max-height: 725px;
  margin: auto;
  z-index: 888;
}

#text-content {
  margin-top: 10px;
  padding: 40px;
  border-radius: 10px;
  text-align: justify;  
  //background-color: #808080;
  background-image: url("../images/stamp_trans.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 70% 100%;
}

#menu-placeholder {
  margin-left: 33%;
  margin-top: 20%;
}

footer{
  position: relative;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 110px;
  bottom: 0;
  left: 0;
  background-color: #373737;
}

#menu-footer {
  position: fixed;
  bottom: 0;
}

#footer-wrapper {
  margin-left: 0;
  margin-bottom: 0;
}

#sour-dog {
  color: #32cd32;
}

#dot-slash {
  color: #3aa8c1;
}

#tag {
  padding-top: 5px;
  margin-bottom: 0;
}

#g75-info {
  margin-top: 10px;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }
